<div class="Eatin' Good Center">

<h1>Welcome to Your Meal Tracker!</h1>
<p> With this tracker, you will be able to keep track of your daily meals.</p>
<p><%= link_to "Sign Up", signup_path, class:"btn btn-danger btn-lg btn-xlarge" %>
OR
<%= link_to "Log in", login_path, class:"btn btn-danger btn-lg btn-xlarge" %></p>

<%=button_to "Log in with Github", "/auth/github"%>
</div>